body {
    max-width: 1440px;
}
.shapka {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1EDE6;
}
.logo {
    width: 35px;
    height: 35px;
}
.logo_text {
    color: #598D66;
    font-family: Raleway;
    font-size: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 495px;
}
.logo_container {
    height: 35px;
    display: flex;
    align-items: center;
}
.left_header {
    display: flex;
    align-items: center;
}
.right_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.shopping_icon {
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1px;
}
.bird_container {
    display: flex;
    max-width: 1440px;
    height: 620px;
    padding: 0 165px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.bird_image {
    width: 540px;
    height: 620px;
}
.info_title {
    width: 500px;
    color: #2C2D35;
    font-family: Raleway;
    font-size: 60px;
    margin-bottom: 20px;
}
.ink_color{
    color: #598D66;
}
.bird_info_container {
    width: 500px;
    height: 331px;
}
.title_text {
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    margin-bottom: 50px;
}
.title_btn {
    border: 1px solid #598D66;
    color: #598D66;
    font-family: Raleway;
    font-size: 20px;
    padding: 16px 60px;
    display: inline-flex;
}