p {
    margin: 0;
}
.wrapper {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}
.logo-png{
    width: 35px;
    height: 35px;
}
.market_logo {
    width: 24px;
    height: 24px;
}
.logo_name {
    color: #598D66;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
.left {
    display: flex;
    align-items: center;
    gap: 8px;
}
.right {
    display: flex;
    align-items: center;
    gap: 60px;
}
.logo {
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: #E1EDE6;;
}
.bird-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.bird_png {
    flex: 0 1 540px;
    width: 100%;
    max-width: 540px;
    min-width: 0;
    height: auto;
    object-fit: contain;
}
.bird_text {
    width: 540px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.bird_name {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title-color{
    color: #598D66;;
}
.bird_title{
    color: #2C2D35;
    font-family: Raleway;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
}
.bird_description {
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
.bird_btn {
    display: inline-flex;
    border: 1px solid #598D66;
    color: #598D66;
    padding: 20px 60px;
    align-items: center;
    justify-content: center;
    width: 60px;
}